😄  [handson-spring-boot-cloud] minikube v1.28.0 sur Darwin 13.1 (arm64)
❗  Kubernetes 1.25.0 has a known issue with resolv.conf. minikube is using a workaround that should work for most use cases.
❗  Pour plus d'informations, voir : https://github.com/kubernetes/kubernetes/issues/112135
✨  Utilisation du pilote docker basé sur la configuration de l'utilisateur
📌  Utilisation du pilote Docker Desktop avec le privilège root
👍  Démarrage du noeud de plan de contrôle handson-spring-boot-cloud dans le cluster handson-spring-boot-cloud
🚜  Extraction de l'image de base...
🔥  Création de docker container (CPUs=4, Memory=10240Mo) ...
🐳  Préparation de Kubernetes v1.25.0 sur Docker 20.10.20...
🔎  Vérification des composants Kubernetes...
    ▪ Utilisation de l'image gcr.io/k8s-minikube/storage-provisioner:v5
🌟  Modules activés: storage-provisioner, default-storageclass
🏄  Terminé ! kubectl est maintenant configuré pour utiliser "handson-spring-boot-cloud" cluster et espace de noms "default" par défaut.
